<% if tea.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(tea.errors.count, "error") %> prohibited this tea from being saved:</h2>

    <ul>
    <% tea.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form.label :name %>
<%= form.input :name, label: "Tea Name:" %>
