<nav id="navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Tea Store</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Register a New Client', new_client_path, class: 'waves-effect waves-light btn' %></li>
      <li><%= link_to 'Register an Order', clients_path, class: 'waves-effect waves-light btn' %></li>
    </ul>
  </div>
</nav>
