<div id="home-index" class="container">
  <div id="home-teas-card" class="card horizontal">
    <div class="card-image">
      <%= image_tag( 'tea.jpg' ) %>
    </div>
    <div class="card-stacked">
      <div class="card-content home-card-content">
        <h5 class="home-title-card">Consult all our Teas</h5>
        <p class="home-text-card">
          In here you can consult all the teas in our store and their prices.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Teas', teas_path, class: 'home-link-card' %>
      </div>
    </div>
  </div>
  <div id="home-orders-card" class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5 class="home-title-card">See The Made Orders</h5>
        <p class="home-text-card">
          Don't know what the orders were made? Check this right here!
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Orders', orders_path, class: 'home-link-card' %>
      </div>
    </div>
    <div class="card-image">
      <%= image_tag( 'order.jpeg' ) %>
    </div>
  </div>
</div>
