<div id="home-index" class="container">
  <div id="home-teas-card" class="card horizontal">
    <div class="card-image">
      <%= image_tag( 'tea.jpg' ) %>
    </div>
    <div class="card-stacked">
      <div class="card-content home-card-content">
        <h5 class="home-title-card">Consult all our Teas</h5>
        <p class="home-text-card">
          In here you can consult all the teas in our store and their prices.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Teas', teas_path, class: 'home-link-card' %>
      </div>
    </div>
  </div>
  <div id="home-clients-card" class="card horizontal">
    <div class="card-stacked">
      <div class="card-content home-card-content">
        <h5 class="home-title-card">See Our Clients</h5>
        <p class="home-text-card">
          Check out all our happy clients!
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Clients', clients_path, class: 'home-link-card' %>
      </div>
    </div>
    <div class="card-image">
      <%= image_tag( 'client.jpg' ) %>
    </div>
  </div>
</div>
