#home-index .home-title-card {
  font-weight: bold;
  text-align: center;
  color: #01579b; // light-blue darken-4
}

#home-index .home-text-card {
  text-align: center;
  font-size: 1em;
}

#home-index .home-link-card {
  color: #009688; // teal base
}
